.carrosel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 50px;
}

.carrosel-container img {
    width: 390px;
    height: 480px;
}

/* Carrosel detail item */
.detail-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: clamp(200px, 40%, 490px);
}

.title-and-price-container {
    display: flex;
    flex-direction: row;
}

.title-and-price-container .title {
    width: 90%;
}

.title-and-price-sub-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%;
}

.price-rotated-container {
    transform: rotateZ(-90deg);
    align-items: baseline;
    display: flex;
    opacity: 0.6;
}

.price-rotated-container .unit {
    font-size: 1rem;
}

.item-description-and-prices {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.item-description-and-prices > .description, .real-price, .promotion-price {
    font-size: 1.2rem;
}

.prices .real-price {
    display: inline;

    font-size: 0.9rem;
    text-decoration: line-through;
}

/* Container buttons */
.container-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.container-btn-trapeze p {
    font-size: 0.9rem;
}

/* Styling add button */
.container-btn-add:after, .container-btn-add .btn-trapeze{
    background-color: var(--fourth-color);
}

.container-btn-add p {
    color: var(--darken-fourth-color);
    padding-left: 5%;
    padding-right: 10%;
}

/* Styling detail button */
.container-btn-detail, .container-btn-detail p{
    transform: rotateZ(180deg);
}

.container-btn-detail p {
    color: var(--darken-secundary-color);
    padding-left: 10%;
    padding-right: 10%;
}

.container-btn-detail:after, .container-btn-detail .btn-trapeze {
    background-color: rgb(65 126 237);
}