.carrosel-infos-item .item-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.carrosel-infos-item .item-btn button {
    width: 130px;
    height: 50px;
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    clip-path: polygon(0% 0%, 100% 0%, 95% 0%, 85.8% 99.6%, 0% 100%);
}

.carrosel-infos-item .item-btn .btn-trapeze {
    background-color: var(--fourth-color);
    color: var(--darken-fourth-color);
    display: flex;
}

.carrosel-infos-item .item-btn .btn-trapeze p {
    text-align: center;
    padding: 0.75rem 1.5rem 0.75rem 1rem;;
    margin: auto;
}

.carrosel-infos-item .container-btn-trapeze {
    height: 50px;
}

.carrosel-infos-item .container-btn-trapeze .triangle {
    position: relative;
    z-index: -1;
    background-color: var(--fourth-color);
    text-align: left;

    transform: translateX(98px) translateY(-50.3px) rotateZ(-10deg) skewX(-30deg) scale(1,.858);
}

.carrosel-infos-item .container-btn-trapeze > .triangle::before, .triangle::after {
    content: '';
	position: absolute;
	background-color: inherit;
}

.carrosel-infos-item .container-btn-trapeze > .triangle, .triangle::before, .triangle::after {
    width: 31px;
    height: 31px;
	border-top-right-radius: 40%;
}

.carrosel-infos-item .container-btn-trapeze .triangle::before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}

.carrosel-infos-item .container-btn-trapeze .triangle::after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}